<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.BizEvaluateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.BizEvaluate">
		<id column="evaluate_id" property="evaluateId" />
		<result column="passport_id" property="passportId" />
		<result column="service_id" property="serviceId" />
		<result column="agent_id" property="agentId" />
		<result column="star" property="star" />
		<result column="content" property="content" />
		<result column="created_at" property="createdAt" />
		<result column="argued_id" property="arguedId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        evaluate_id AS evaluateId, passport_id AS passportId, service_id AS serviceId, agent_id AS agentId, star, content, created_at AS createdAt
    </sql>
    
    <select id="getEvaluateList" resultType="map">
        SELECT a.*  , b.nickname , c.nickname AS beUserName  , d.`name` , d.list_pic  from biz_evaluate a 
		 LEFT JOIN biz_passport b ON a.passport_id = b.passport_id 
			LEFT JOIN biz_passport c  ON a.argued_id = c.passport_id
				LEFT JOIN biz_service d ON a.service_id = d.service_id
						WHERE 1=1  AND  a.agent_id =#{map.agent_id} 					
				<if test="map.status==1">
					AND  a.argued_id != #{map.passport_id}
				</if> 	
				<if test="map.status==0">
					AND  a.argued_id = #{map.passport_id}
				</if> 
				<if test="map.pageNo != null and  map.pageSize != null">
				LIMIT #{map.pageNo} , #{map.pageSize}
				</if>						
    </select>

</mapper>
