<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.BizNewsCategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.BizNewsCategory">
		<id column="category_id" property="categoryId" />
		<result column="category_name" property="categoryName" />
		<result column="parent_category_id" property="parentCategoryId" />
		<result column="sort" property="sort" />
		<result column="status" property="status" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id AS categoryId, category_name AS categoryName, parent_category_id AS parentCategoryId, sort, status
    </sql>

</mapper>
