<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.BizServiceFieldValueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.BizServiceFieldValue">
		<result column="service_id" property="serviceId" />
		<result column="filed_id" property="filedId" />
		<result column="value" property="value" />
		<result column="field_type" property="fieldType" />
		<result column="field_name" property="fieldName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        service_id AS serviceId, filed_id AS filedId, value, field_type AS fieldType, field_name AS fieldName
    </sql>
    
    <insert id="insertValue" parameterType="com.stylefeng.guns.common.persistence.model.BizServiceFieldValue" >
    insert into biz_service_field_value (service_id, filed_id, value,field_type,field_name
      )
    values (#{serviceId,jdbcType=INTEGER}, #{filedId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR},#{fieldType,jdbcType=TINYINT},#{fieldName,jdbcType=VARCHAR}
   )
  </insert> 

</mapper>
