<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.BizServiceSpecificationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.BizServiceSpecification">
		<id column="id" property="id" />
		<result column="category_id" property="categoryId" />
		<result column="field_name" property="fieldName" />
		<result column="type" property="type" />
		<result column="sort" property="sort" />
		<result column="scale" property="scale" />
		<result column="is_must" property="isMust" />
		<result column="agent_id" property="agentId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id AS categoryId, field_name AS fieldName, type, sort, scale, is_must AS isMust, agent_id AS agentId
    </sql>

</mapper>
