<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.SetupMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Setup">
		<id column="id" property="id" />
		<result column="website_name" property="websiteName" />
		<result column="logo" property="logo" />
		<result column="keyword" property="keyword" />
		<result column="describe" property="describe" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="hotline" property="hotline" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        website_name AS websiteName, logo, keyword, id ,describe
    </sql>

</mapper>
