@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="bizCouponsForm">
			<input type="hidden" id="statusValue" value="${item.status}">
            <input type="hidden" id="couponId" value="${item.couponId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                           <!--  <#input id="couponId" name="优惠券ID" value="${item.couponId}" underline="true"/> -->
                            <#input id="agentId_name" name="代理商名称" value="${item.agentId}" underline="true" readonly="readonly" hidden="agentId"
							clickFun="BizCouponsInfoDlg.showDeptSelectTree(); return false;"
							style="background-color: #ffffff !important;"/>
								
                            <#input id="couponName" name="优惠券名称" value="${item.couponName}" underline="true"/>
                            <#input id="min" name="最低消费" value="${item.min}" underline="true"/>
                            <#input id="cost" name="减免金额" value="${item.cost}" />
                </div>

                <div class="col-sm-6">
                            <#input id="num" name="发行量" value="${item.num}" underline="true"/>
                            <#input id="begin_time" name="开始时间" value="${item.begin_time}" underline="true" type="date"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                            <#input id="end_time" name="结束时间" value="${item.end_time}" underline="true" type="date"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>                     
                            <#select id="status" name="状态" underline="true">
                                            <option value="1">启用</option>
                                            <option value="2">禁用</option>
                           </#select>
                </div>
            </div>
            
            <!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BizCouponsInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BizCouponsInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bizCoupons/bizCoupons_info.js"></script>
@}
