@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="bizAgentCaseInfoForm">

            <input type="hidden" id="agentCaseId" value="${item.agentCaseId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="agentId" name="代理商Id" value="${item.agentId}" underline="true"/>
                            
                            <#input id="title" name="案例标题" value="${item.title}" underline="true"/>
                            
                            <#input id="content" name="案例内容" value="${item.content}" />
                </div>

                <div class="col-sm-6">
                            <#avatar id="cover" name="案例封面" underline="true" avatarImg="${item.cover}"/>
                            <#input id="linkUrl" name="相关链接" value="${item.linkUrl}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BizAgentCaseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BizAgentCaseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bizAgentCase/bizAgentCase_info.js"></script>
@}
